In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv('news_info.csv')
df.head()

   item_id cate_id   timestamp
0   494920    1_18  1486771984
1   494925    1_18  1486771998
2   494926    1_18  1486772003
3   494927    1_12  1486772010
4   545967     1_1  1487221752

In [2]:
df.sort_values('timestamp' , inplace=True, ascending=False)
df

       item_id cate_id   timestamp
11072   565814     1_6  1487503260
9884    565699     1_6  1487503020
19336   565676     1_6  1487502300
21756   560877    1_11  1487462400
19880   565472     1_5  1487433360
20965   567892     1_1  1487432698
20964   567891     1_1  1487432578
1200    567887    1_11  1487431482
1199    567886    1_17  1487431146
1198    567883     1_1  1487431096
1201    567885    1_11  1487431057
1197    567882    1_17  1487430849
6906    567881    1_15  1487430438
30449   567879    1_17  1487430389
30450   567877     1_6  1487430367
30451   567875     1_6  1487430061
30452   567874    1_11  1487430050
30453   567873    1_27  1487430042
30454   567872     1_6  1487430034
30455   567871     1_3  1487430030
30456   567870     1_6  1487430022
10711   567869    1_11  1487430009
27734   564050     1_3  1487430000
31482   565832     1_6  1487430000
39743   565998     1_6  1487430000
4406    566153     1_6  1487430000
31808   566429     1_6  1487430000
11747   566651    1_11  1487430000
22276   566186    1_11  1487430000
610     566192    1_11  1487430000
...        ...     ...         ...
40350    70807     1_1  1468109204
30440    67147     1_1  1467947761
39079    63516     1_1  1467615357
13573    62408     1_1  1467547261
15649    57438     1_1  1467335120
5454     57008     1_1  1467195481
16968    55977     1_1  1467089974
24647    53892     1_1  1466982865
26800    52082    1_16  1466852517
1785     48102     1_1  1466487969
35058    42075     1_1  1466047207
9362     41799     1_1  1465961396
15030    41739     1_1  1465956063
17726    40468     1_1  1465804886
31488    37337     1_1  1465620597
8003     36775     1_1  1465558056
31476    32216     1_2  1465456142
10987    33350     1_1  1465194757
29928    33247     1_1  1465193807
28688    32313     1_1  1465117084
28460    28313     1_1  1464674398
6055     24258     1_1  1464316740
4518     23099     1_1  1464060071
15925    22681     1_1  1463996199
5237     20903     1_1  1463806939
1261     20676     1_1  1463721051
33526    20439     1_1  1463536361
13870    20428     1_1  1463478428
10382    18567     1_1  1463214372
32458    15430     1_1  1462687968

[41252 rows x 3 columns]